main {
  padding: var(--padding);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--padding);
}

form {
  position: relative;
}

textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.3px;
  border-radius: 5px;
  background-color: transparent;
  outline: 1px solid gray;
}

textarea:focus {
  outline: 1px solid gray;
}

.count {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


.actions {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  background: white;
  border: 1px solid gray;
  cursor: pointer;
}