<main>
  <div class="container">

    <h4>ADICIONAR / EDITAR</h4>
    <p>{{ cartItem.quantity}}x - {{ cartItem.product.name}}</p>


    <form [formGroup]="noteForm">
      <label for="note">nota:</label>
      <textarea #noteInput maxlength={{maxLengthNote}} rows="5" cols="30" formControlName="note">
      </textarea>
      <span class="count">{{noteInput.value.length}}/{{ maxLengthNote }}</span>
    </form>

    <div class="actions">
      <button (click)="saveNote()">Salvar</button>
    </div>

  </div>
</main>