header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  padding: 15px 15px;
  background: #ffae00de;
  color: white;

  span {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }

  .spacer {
    flex: 1 1 auto;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
    padding: 0;

    .account-menu,
    button {
      font-weight: bold;
      font-size: 16px;        
      width: 140px;
      height: 45px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background-color: white;
    }

    .account-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 12px;    
    
      .auth-name {
        font-size: 16px;
        font-weight: bold;
        color: black;
      }

      .auth-icon {
        color: black;
      }
    }

    .cart-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .theme-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

  }

}