/* Estilos para o Modal */
::ng-deep .mat-dialog-container {
  max-width: 50% !important;
  width: 50% !important;
  padding: 0 !important;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

mat-dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

mat-dialog-content {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px 0;
  font-size: 1rem;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button[mat-button] {
  background-color: #007bff;
  color: white;
}

button[mat-button]:hover {
  background-color: #0056b3;
}

button[mat-dialog-close] {
  background-color: #6c757d;
  color: white;
}

button[mat-dialog-close]:hover {
  background-color: #5a6268;
}
