<h2 mat-dialog-title>Edit Address:</h2>
<mat-dialog-content>
  <form [formGroup]="addressForm">

    <label for="street">Rua: </label>
    <input id="street" type="text" formControlName="street">

    <label for="number">Nº: </label>
    <input id="number" type="number" formControlName="number">

    <label for="district">Bairro: </label>
    <input id="district" type="text" formControlName="district">

    <label for="complement">Complemento: </label>
    <input id="complement" type="text" formControlName="complement">

    <label for="city">Cidade: </label>
    <input id="city" type="text" formControlName="city">

    <label for="uf">UF: </label>
    <input id="uf" type="text" formControlName="uf">

    <label for="zipCode">CEP: </label>
    <input id="zipCode" type="text" formControlName="zipCode">
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button (click)="save()">Salvar</button>
</mat-dialog-actions>