:host {
  display: block;
}

.paginator-container {
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color); 
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.product {
  box-sizing: border-box;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
  cursor: pointer;
}

.product-img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.product-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.product-info {
  font-size: 18px;
  padding: var(--padding);
}

.product-name {
  color: var(--tertiary-color);
  font-size: 18px;
}

.addtocart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: var(--padding);
}

.btn-addtocart {
  font-size: 16px;
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  border: none;
}

.products-blank{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 250px;


  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
}