main {
  display: flex;
  justify-content: center;
  padding: var(--padding);
}

.order-list-loading,
.order-list-empty {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}

.bottom {
  display: flex;
  justify-content: end;

}