<main>
  <div class="orders">
    @for(order of orders; track order){
    <div class="order">
      <div class="header">
        <span>{{ order.createdAt  | date : 'dd/MM/yyyy HH:mm' }}</span>
        <span>{{ order.status }}</span>
        <span>( {{ order.paymentMethod }} )</span>
        <span>{{ order.total  | currency : 'BRL'}}</span>
      </div>

      <div class="bottom">
        <div class="btn-wrapper">
          <button (click)="navigateToOrderDetail(order)">VER DETALHES</button>
        </div>
      </div>

    </div>
    }
  </div>

</main>