:host {
  display: block;
}

main {
  display: flex;
  justify-content: center;
  padding: var(--padding);
  min-height: calc(100vh - var(--height-navbar));
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color); 
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
}

.bottom {
  display: flex;
  justify-content: end;

}

.btn-wrapper button {
  border: none;
  cursor: pointer;
  padding: var(--padding);
  border-radius: var(--border-radius);
}