<main>
  <div class="header">
    <div class="title">
      <p>Meus Endereços</p>
    </div>


    @if(isAddable){
    <div class="addable">
      <button class="btn-primary" (click)="openTemplateModal()">NOVO ENDEREÇO</button>
      <ng-template cdkPortal #modalTemplate="cdkPortal">
        <app-modal
          (closeModalEvent)="closeTemplateModal()"
        >
          <app-address-form
            [isAddressNew]="true"
            (submitNewAddressEvent)="onLoadAddresses()">
          </app-address-form>
        </app-modal>    
      </ng-template>
    </div>
    }
  </div>

  @if(isLoading){
  <div class="address-list-loading">
    <p>CARREGANDO ENDEREÇOS...</p>
  </div>
  }@else{
  <div class="addresses">
    @for(address of addresses; track address){
    <app-addresscard [address]="address" [isSelectable]="isSelectable" [isEditable]="isEditable"
      [isDeletable]="isDeletable" [isSelected]="isSelected" [selectedId]="selectedId"
      (selectedAddressEvent)="selectAddress($event)">
    </app-addresscard>

    }@empty {
    <div class="address-list-empty">
      <p>"VOCÊ NÃO TEM ENDEREÇOS CADASTRADOS"</p>
    </div>
    }
  </div>
  }
</main>