main {
  padding: var(--padding);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header {
  display: flex;
  justify-content: space-between;

  .title {
    font-weight: bold;
  }
}

.address-list-loading,
.address-list-empty {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.addresses {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.address {
  display: flex;
  gap: 12px;
}

.wrapper {
  flex: 1;
  display: flex;
}

.details {
  flex: 1;
}

.select {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {

  main {
    padding: 5px;
  }

  .address {
    flex-direction: column;
  }

}