main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 16px;  
}

.header {
  display: flex;
  justify-content: space-between;

  .title {
    font-weight: bold;
  }
}

.address-list-loading,
.address-list-empty {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.addresses {
  display: flex;
  flex-direction: column;
  gap: 16px;
}




@media (max-width: 768px) {
  main {
    padding: 5px;
  }
}