main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px;
  margin: 24px auto;
  width: 90%;
  min-height: 100%;
}


.wrapper-flex-01,
.wrapper-flex-02 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.product-image {
  max-width: 350px;

  img {
    width: 100%;
  }
}


.details-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .name {
    font-size: xx-large;
    font-weight: bold;
    word-break: break-word;
  }

  .price {
    font-size: x-large;
  }

  .desc {
    max-width: 90%;
  }
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    font-size: 18px;
  }
}

.product-edit-quantity-wrapper{
  display: flex;
  justify-content: flex-start;
}


.product-edit-quantity {
  display: flex;
  align-items: center;
  border: 1px solid gray;

  button {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }

  .quantity {
    padding:  10px 16px;
    font-size: 16px;
    font-weight: bold;
  }
}

.btn-secondary {
  padding: 16px;
}







@media (max-width: 1024px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 0;
  }

  .details-wrapper {
    padding: 8px;
  }

  .product-image {
    max-width: 260px;

    img {
      width: 100%;
    }
  }

}