<main>

  @if(product){

  <div class="wrapper-flex-01">
    <div class="product-image">
      <img src="{{product.imgUrl}}" alt="product image">
    </div>
  </div>

  <div class="wrapper-flex-02">
    <div class="details-wrapper">

      <div class="product-details">
        <p class="name">{{product.name}}</p>
        <p class="price">{{ product.price | currency : 'BRL' }}</p>
        <p class="desc">{{ product.description }}</p>
      </div>


      <div class="product-edit-quantity">
        <button (click)="decrementProductQuantity()">-</button>
        <p class="quantity">{{ productQuantity }}</p>
        <button (click)="incrementProductQuantity()">+</button>
      </div>

      <div class="product-actions">
        <button class="btn-add-cart" (click)="addToCart(product)">COMPRAR AGORA</button>
      </div>

    </div>
  </div>
  }

</main>