main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 25px;
  width: 90%;
  min-height: 100%;
  padding: 12px;
  margin: 24px auto;
}


.wrapper-flex-01,
.wrapper-flex-02 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.product-image {
  max-width: 600px;

  img {
    width: 100%;
    border-radius: 100%;
  }
}


.details-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);

}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .name {
    font-size: xx-large;
    font-weight: bold;
    word-break: break-word;
  }

  .price {
    font-size: x-large;
  }

  .desc {
    max-width: 90%;
  }
}



.product-edit-quantity {
  display: flex;
  align-items: center;

  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }

  .quantity {
    margin: 0 10px;
    font-size: 16px;
  }
}

.product-actions {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    padding: var(--padding);
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
  }
}





@media (max-width: 768px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 0;
  }

  .details-wrapper {
    padding: 8px;
  }

}