<main>
  <form [formGroup]="signupForm">
    <app-input-form formControlName="fullName" inputName="fullName" type="text" label="Nome Completo:"
      placeHolder="seu nome completo  ...">
    </app-input-form>
    <app-input-form formControlName="email" inputName="email" type="email" label="Email:"
      placeHolder="informe seu email... (example@gmail.com) ">
    </app-input-form>
    <app-input-form formControlName="password" inputName="password" type="password" label="Senha:"
      placeHolder="crie uma senha forte...">
    </app-input-form>
    <app-input-form formControlName="passwordConfirm" inputName="passwordConfirm" type="password"
      label="Confirme a senha:" placeHolder="confirme sua senha...">
    </app-input-form>
  </form>

  <div class="btn-wrapper">
    <button [disabled]="!signupForm.valid" class="btn-signup" (click)="onSubmit()">CRIAR</button>
    <div class="divider"></div>
    <div>
      <p>já tem uma conta?</p>
      <button class="btn-signin" (click)="routerService.toSignIn()">LOGIN</button>
    </div>
  </div>

</main>