main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100%;
}

.account-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.account-title {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.account-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.account-left {
  background-color: white;
  flex-grow: 0.1;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.account-options {
  display: flex;
  flex-direction: column;
  gap: 15px;

  div {
    background: rgb(255, 101, 0);
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
  }
}

.account-right {
  background-color: white;
  flex-grow: 1;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.active-section {
  padding: 20px;
}



