<main>

  <section class="account-header">
    <div class="account-title">
      <h2>MINHA CONTA</h2>
    </div>
  </section>


  <section class="account-main">

    <section class="account-left">
      <div class="account-options">
        <div (click)="activateSectionAuthAccountData()"> Meus Dados </div>
        <div (click)="activateSectionAuthAddressList()">Meus Endereços</div>
      </div>
    </section>

    <section class="account-right">
      <div class="active-section">

        @if( activeSection === null ){
          <div>       
            <h2>Veja seus dados aqui ... (Selecione uma opção) </h2>
          </div>
        }

        @if( activeSection === 'auth-account-data' ){          
            <app-auth-account-data></app-auth-account-data>          
        }

        @if( activeSection === 'auth-address-list' ){        
            <app-address-list  
            [isEditable]="true"
            (addressSelected)="getAddressSelectedEvent($event)" >
            </app-address-list>          
        }

      </div>
    </section>
  </section>

</main>