<main>
  <div class="form-container">
    <h1>Ative sua nova conta</h1>
    <p>token de verificação enviado para: {{email}} </p>
    <form [formGroup]="signupVerificationForm">
      <div class="input-group">
        <label for="email">Token</label>
        <input id="token" formControlName="token" type="text" placeholder="token de verificação" />
        @if(token?.invalid && token?.touched){
        <div class="error-message">
          @if(token?.errors?.['required']){
          <small>O token é obrigatório.</small>
          }
          @if(token?.errors?.['minlength']){
          <small>O token deve ter no máximo 6 caracteres.</small>
          }
          @if(token?.errors?.['maxlength']){
          <small>O token deve ter no máximo 6 caracteres.</small>
          }
        </div>
        }
      </div>
    </form>

    <p>não recebeu o código? <a (click)="newVerificationToken()">reenviar codigo</a></p>

    <div>
      @if(isloading){
        <button class="btn btn-primary" [disabled]="isloading" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">SOLICITANDO...AGUARDE!</span>
        </button>
      }@else{
        <button
        [disabled]="!signupVerificationForm.valid"
        (click)="validateToken()">VALIDAR TOKEN</button>
      }  
    </div>
  </div>

</main>