main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.home-header{
  display: flex;
  justify-content: center;
  padding: var(--padding);
}

.header-brand {
  width: 100%;
  max-width: 80%;
  height: 250px;
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);  
}
