.main-section {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.header{
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

h1 {
  font-size: 46px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: 500;
}