<main>
  <div class="form-container">
    @if(!emailFormSubmited){
    <h1>SOLICITE A REDEFINIÇÃO DE SENHA</h1>
    <form [formGroup]="emailForm">
      <p>Solicite a redefinição de senha por email</p>
      <div class="input-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" placeholder="Digite seu email" />
        @if(email?.invalid && email?.touched){
        <div class="error-message">
          @if(email?.errors?.['required']){
          <small>O email é obrigatório.</small>
          }
          @if(email?.errors?.['email']){
          <small>O email deve ser válido.</small>
          }
        </div>
        }
      </div>
      <div>
        @if(isLoading && emailFormSubmited){
        <button class="btn btn-primary" [disabled]="isLoading" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">SOLICITANDO...AGUARDE!</span>
        </button>
        }@else{
        <button [disabled]="!emailForm.valid" (click)="resetPassword()">
          ENVIAR SOLICITAÇÃO
        </button>
        }
      </div>

    </form>
    }

    @if(emailFormSubmited){
    <h1>REDEFINIR SENHA</h1>
    <p>Token de redefinição de senha enviado! Consulte a caixa de entrada do seu email.</p>
    <form [formGroup]="passwordResetForm">      
      <div class="input-group">
        <label for="token">Token</label>
        <input id="token" formControlName="token" type="text" placeholder="token de verificação" />
        @if(token?.invalid && token?.touched){
        <div class="error-message">
          @if(token?.errors?.['required']){
          <small>O token é obrigatório.</small>
          }
          @if(token?.errors?.['minlength']){
          <small>O token deve ter no máximo 6 caracteres.</small>
          }
          @if(token?.errors?.['maxlength']){
          <small>O token deve ter no máximo 6 caracteres.</small>
          }
        </div>
        }
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input id="newPassword" formControlName="newPassword" type="password" placeholder="Digite sua nova senha" />
        @if(newPassword?.touched && newPassword?.errors){
        <div class="error-message">
          @if(newPassword?.errors?.['required']){
          <small>A nova senha é obrigatória.</small>
          }
          @if(newPassword?.errors?.['minlength']){
          <small>A nova senha deve ter no mínimo 6 caracteres.</small>
          }
          @if(newPassword?.errors?.['maxlength']){
          <small>A nova senha deve ter no máximo 16 caracteres.</small>
          }
        </div>
        }
      </div>

      <div class="input-group">
        <label for="confirmNewPassword">Confirme sua senha</label>
        <input id="confirmNewPassword" formControlName="confirmNewPassword" type="password"
          placeholder="Confirme sua nova senha" />
        @if(confirmNewPassword?.touched && confirmNewPassword?.errors){
        <div class="error-message">
          @if( confirmNewPassword?.errors?.['required'] ){
          <small>A confirmação da nova senha é obrigatória.</small>
          }
          @if(confirmNewPassword?.errors?.['mismatch'] ){
          <small>As senhas não coincidem.</small>
          }
        </div>
        }
      </div>

      <div>
        @if(isLoading && passwordResetFormSubmited){
        <button class="btn btn-primary" [disabled]="isLoading" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">SOLICITANDO...AGUARDE!</span>
        </button>
        }@else{
        <button class="btn-validate" [disabled]="!passwordResetForm.valid" (click)="changePassword()">ALTERAR
          SENHA</button>
        }
      </div>





    </form>

    }
  </div>
</main>