<main>
  @if(getItemCount() != 0){
  <div class="left">
    <div class="cart-items">
      @for(item of cart.cartItems; track item.product.id){
      <div class="item">
        <div class="item-image">
          <img src="{{item.product.imgUrl}}" alt="product icon">
        </div>
        <div class="item-details">
          <h3 class="item-name">{{ item.product.name }}</h3>
          <p class="item-price">Preço unitário: R$ {{ item.product.price }}</p>
        </div>
        <div class="item-quantity">
          <button class="quantity-button" (click)="decrementItemQuantity(item)">-</button>
          <p class="quantity">{{ item.quantity }}</p>
          <button class="quantity-button" (click)="incrementItemQuantity(item)">+</button>
        </div>
        <div class="item-subtotal">
          <p class="subtotal">Subtotal: R$ {{ getSubtotal(item) }}</p>
        </div>
        <div class="item-actions">
          <button class="remove-button" mat-icon-button (click)="removeItem(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>

  </div>

  <div class="right">
    <div class="cart-details">
      <div>
        <h1>Total: <strong>R$ {{ getTotal() }}</strong></h1>
      </div>


      <div class="btn-container">
        <button (click)="clearCart()">Limpar Carrinho</button>
        <button routerLink="/products">Comprar Mais...</button>
        <button (click)="goToCheckout()">Prosseguir para Checkout</button>
      </div>
    </div>
  </div>

  }@else{
  <div class="cart-blank">
    <div class="blank">
      <span> "Vazio" Adicone Produtos! </span>
      <button class="btn" (click)="navigateToStore()">Comprar Agora</button>
    </div>
  </div>
  }

</main>