<div class="product">
  <a [routerLink]="['/products/product-detail/', product.id]">
    <div class="product-img-wrapper">
      <img
        class="product-img"
        ngSrc="{{ product.imgUrl }}"
        fill
        title="product image"
        alt="product image"
        priority
      />
    </div>
    <div class="product-info">
      <p class="product-name">{{ product.name }}</p>
      <p class="product-price">{{ product.price | currency: "BRL" }}</p>
    </div>
  </a>

  <div class="addtocart-wrapper">
    <button class="btn-addtocart styledbutton" (click)="addToCart()">
      ADICIONAR AO CARRINHO
    </button>
  </div>
</div>
