
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 16px;  
}

.divider {
  width: 100%;
  background-color: gray;
  border: 1px solid gray;
}

form {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: 16px;
}