<main>
    <div>
        <h3>Meu Perfil</h3>
        <p>gerenciar dados de perfil</p>
    </div>

    <div class="divider"></div>

    <div class="user-profile">
        @if(userProfile ){
        <form [formGroup]="userProfileForm">

            <div>
                <label for="firstName">Nome: </label>
                <input id="firstName" type="text" formControlName="firstName">
            </div>

            <div>
                <label for="lastName">Sobrenome: </label>
                <input id="lastName" type="text" formControlName="lastName">
            </div>
            <div>
                Email: {{ userProfile.email }} 
           </div>
            <div>
                Número de Telefone: {{ userProfile.phoneNumber }}
            </div>

         

            <div>
                <button>Salvar</button>
            </div>       
           
        </form>



        }@else{
        <span>Os dados de perfil não foram carregados!</span>
        }



    </div>

</main>