.my-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: var(--navbar-background);
}

.my-navbar-left {
  display: flex;
}

.my-navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-navbar-links,
.my-navbar-util {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-button {
  display: flex;
  gap: 8px;
  text-align: center;
  align-items: center;
  align-content: center;
  color: var(--text-color);
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background: none;
  border: none;
  padding: 8px 16px;
  font-size: medium;
  font-size: 18px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background-color: var(--body-background-2);
  }
}



.example-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  border: var(--border);
  padding: 12px;
  border-radius: 12px;
}

.cart-count {
  position: relative;
}

.count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  top: -60%;
  left: 70%;
  font-size: 16px;
  border-radius: 100%;
  background-color: var(--body-background);
}

.toggle-menu {
  display: none;
}

.mobile-menu-header {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
}


.mobile-menu,
.mobile-menu.mobile-menu-is-open,
.mobile-menu.mobile-menu-is-closed {
  display: none;
}

@media (max-width: 768px) {

  .my-navbar-links {
    display: none;
  }

  .toggle-menu {
    display: block;
  }
  .mobile-menu.mobile-menu-is-open {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: var(--navbar-background);
    z-index: 2000;

    .nav-button{
      background-color: var(--body-background-2);
    }
  }

  .mobile-menu{
    //background-color: var(--body-background);
  }

  .mobile-menu-body{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
