<div class="address card">
  @if (showActions) {
    <div class="actions">
      <button class="dropdown-btn">Ações</button>
      <div class="dropdown-content">
        <div (click)="this.onUpdateEvent.emit(this.address)">Editar</div>
        <div (click)="this.onDeleteEvent.emit(this.address)">Excluir</div>
      </div>
    </div>
  }

  <div class="wrapper">
    <div class="details">
      <p>{{ address.name }} +55 {{ address.phoneNumber }}</p>
      <p>{{ address.street }} - {{ address.number }}</p>
      <p>{{ address.complement }}</p>
      <p>{{ address.district }}</p>
      <p>{{ address.city }} - {{ address.uf }} - {{ address.zipCode }}</p>
    </div>
  </div>
  @if (isSelectable) {
    <div class="select">
      <input
        type="radio"
        name="selectedAddressRadio"
        [checked]="address.id === selectedId"
        (change)="onSelect()"
      />
    </div>
  }
</div>
