<main>
  @for(address of addresses; track address.id){
  <div class="address">

    <div class="address-left">
      <span>{{address.street}}, {{address.number}}, {{address.district}}, ({{address.city}} - {{address.uf}}) </span>
      <span>{{address.complement}}</span>
      <span>{{address.zipCode}}</span>
    </div>    

    <div class="address-right">
      @if(isSelectable) {
        <button (click)="selectAddress(address)">Selecionar</button>
      }@else{
        <button (click)="editAddress(address)">Editar</button>
        <button (click)="deleteAddress(address.id)">Apagar</button>
      }
    </div>
  
  </div>
  }
</main>