<main>
  <div>
    <button   (click)="previousOffset()" [disabled]="currentPageNumber === 0">
      <mat-icon >fast_rewind</mat-icon>
    </button>
  </div>

  <div class="pages">
    @for(page of pages; track page; let currentIndex = $index){
    <div class="page">
      <button (click)="onChangePageNumber(page-1)" [ngClass]="{'current-page' : currentPageNumber === page - 1}"> {{
        page }}</button>
    </div>
    }
  </div>

  <div>    
    <button  (click)="nextOffset()" [disabled]="currentPageNumber == pages.length-1"> 
      <mat-icon>fast_forward</mat-icon>
    </button>
  </div>

  <div class="page-size">
    <p>Itens por página:</p>
    <select  name="pageSize"  [(ngModel)]="currentPageSize" (ngModelChange)="onChangePageSize()">
      @for(size of sizePages; track size){
      <option [value]="size">{{size}}</option>
      }
    </select>
  </div>

</main>