<main>
  @if(orderDetails){
  <div class="order-details-flex">
    <h2>Detalhes do Pedido</h2>
    @if(orderDetails; as order){
    <div class="header">
      <p>Pedido em {{ order.createdAt | date : 'dd/MM/yyyy HH:mm' }}</p>
      <p>Pedido nº {{ order.number }} </p>
      <p>Status: {{ order.status }}</p>
    </div>
    <div class="details">
      <div class="details-store">
        <h4>Estabelecimento</h4>
        @if(orderDetails.store; as store){
        <app-storecard [store]="store"> </app-storecard>
        }@else{
        <p>Não foi possível carregar dados de loja do pedido</p>
        }
      </div>
      <div class="details-address">
        <h4>Endereço de envio</h4>
        @if(order.deliveryAddress; as address){
        <div class="address card">
          <p>{{address.name}} +55 {{address.phoneNumber}}</p>
          <p>{{address.street}} - {{address.number}} </p>
          <p>{{address.complement}}</p>
          <p>{{address.district}}</p>
          <p>{{address.city}} - {{address.uf}} - {{address.zipCode}}</p>
        </div>
        }@else{
        <p>Não foi possível carregar dados de entrega do pedido</p>
        }
      </div>
      <div class="details-payment">
        <h4>Methodo de Pagamento</h4>
        @if(order.paymentMethod; as payment){
        <div class="payment card">
          <p>{{ payment }}</p>
        </div>
        }@else{
        <p>Não foi possível carregar dados de pagamento do pedido</p>
        }
      </div>
      <div class="details-resume">
        <h4>Resumo do Pedido</h4>
        @if(order.total; as total){
        <div class="total card">
          <p>Total: {{ total | currency : 'BRL' }}</p>
        </div>
        }@else{
        <p>Não foi possível carregar dados para resumo do pedido</p>
        }
      </div>
    </div>
    }@else{
    <p>Não foi possível carregar dados do pedido</p>
    }

    <div class="order-items">
      <h4>Items</h4>
      @for(orderitem of orderDetails.orderItems; track orderitem){
      <div class="order-item card">
        <div class="order-item-image">
          <img src={{orderitem.imgUrl}} alt="">
        </div>
        <div class="order-item-details">
          <div class="details-flex-01">
            <p>{{orderitem.name}}</p>
          </div>
          <div class="details-flex-02">
            <p>qtd: {{orderitem.quantity}}x </p>
            <div>
              <p>preço: {{orderitem.price | currency : 'BRL'}}</p>
              <p>subtotal: {{orderitem.totalPrice | currency : 'BRL' }} </p>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  }
</main>