<main>
    @if(orderDetails){
    <div class="order-details">
      @if(orderDetails; as order){
        <div class="order card">
          <span>Efetuado em: {{ order.createdAt | date : 'dd/MM/yyyy HH:mm' }}</span>
          <span>Status: {{ order.status }}</span>
          <span>Pagamento: {{ order.paymentMethod }}</span>
          <span>Valor do Pedido: R$ {{ order.total | currency : 'BRL' }}</span>
        </div>
      }@else{
        <p>Não foi possível carregar dados do pedido</p>
      }

   

      <div class="details-address">
        <p>Enviado para:</p>
        @if(orderDetails.deliveryAddress; as address){        
        <div class="address card">
          <p>{{address.name}} +55 {{address.phoneNumber}}</p>
          <p>{{address.street}} - {{address.number}} </p>
          <p>{{address.complement}}</p>
          <p>{{address.district}}</p>
          <p>{{address.city}} - {{address.uf}} - {{address.zipCode}}</p>
        </div>
        }@else{
        <p>Não foi possível carregar dados de entrega do pedido</p>
        }
      </div>

      <div class="details-store">
        <p>Loja:</p>
        @if(orderDetails.store; as store){   
          <app-storec
          [logoUrl]="store.logoUrl"
          [name]="store.name"
          [phoneNumber]="store.phoneNumber"
          [type]="store.type"
          >
          </app-storec>  
        }@else{
        <p>Não foi possível carregar dados de loja do pedido</p>
        }
      </div>  

      <div class="order-items">
        <p>Items: </p>
        @for(orderitem of orderDetails.orderItems; track orderitem){
        <div class="order-item card">
          <div class="order-item-left">
            <span>{{orderitem.quantity}}x </span>
            <span>R$ {{orderitem.price | currency : 'BRL'}}</span>
            <img src={{orderitem.imgUrl}} alt="">
            <span>{{orderitem.name}}</span>
          </div>
          <div class="order-item-right">
            <span>subtotal: {{orderitem.totalPrice | currency : 'BRL' }} </span>
          </div>
        </div>
        }
      </div>
    </div>
  }
</main>