<main>
  <div class="container">
    <div class="left">
      <div class="dash-options" routerLink="/seller">
        <mat-icon>dashboard</mat-icon> DASHBOARD
      </div>
      <div class="dash-options" routerLink="/seller/orders">
        <mat-icon>view_list</mat-icon>GERENCIAR PEDIDOS
      </div>
      <div class="dash-options"><mat-icon>messages</mat-icon> MENSAGENS</div>
      <div class="dash-options" routerLink="/seller/stores">
        <mat-icon>store</mat-icon>GERENCIAR LOJAS
      </div>
      <div class="dash-options"><mat-icon>analytics</mat-icon>ANALYTICS</div>
    </div>

    <div class="right">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

