<main>
  <div class="checkout-flex">
    <div class="checkout-flex-01">
      <div class="checkout-content">
        <div class="header">
          <p>CHECKOUT DE PEDIDO</p>
        </div>

        <div class="checkout-items">
          <div class="checkout-item">
            <div class="item-header">
              <h3>Endereço de Entrega</h3>
              <button
                class="btn-primary"
                (click)="
                  this.modalOverlayRef = this.modalService.open(appAddressList)
                "
              >
                Alterar
              </button>
              <ng-template cdkPortal #appAddressList="cdkPortal">
                <app-modal
                  (closeModalEvent)="this.modalService.close(modalOverlayRef)"
                >
                  <app-address-list
                    [isAddable]="true"
                    [isSelectable]="true"
                    [selectedId]="address.id"
                    (selectedAddressEvent)="setAddress($event)"
                  >
                  </app-address-list>
                </app-modal>
              </ng-template>
            </div>

            @if (address) {
              <app-addresscard [address]="address"> </app-addresscard>
            } @else {
              <div>
                <div class="divider"></div>
                <p>Escolha um endereço para entrega do pedido.</p>
              </div>
            }
          </div>

          <div class="checkout-item">
            <div class="item-header">
              <h3>Forma de Pagamento</h3>
              <button
                class="btn-primary"
                (click)="
                  this.modalOverlayRef = this.modalService.open(appPaymentList)
                "
              >
                Alterar
              </button>
              <ng-template cdkPortal #appPaymentList="cdkPortal">
                <app-modal
                  (closeModalEvent)="this.modalService.close(modalOverlayRef)"
                >
                  <app-payment-list
                    [selectedId]="paymentMethod.id"
                    (selectedPaymentMethodEvent)="setPaymentMethod($event)"
                  >
                  </app-payment-list>
                </app-modal>
              </ng-template>
            </div>
            @if (paymentMethod) {
              <div class="payment card">
                {{ paymentMethod.name }}
              </div>
            } @else {
              <div>
                <div class="divider"></div>
                <p>Escolha a forma de pagameto para entrega do pedido.</p>
              </div>
            }
          </div>

          <div class="checkout-item">
            <div class="item-header">
              <h3>Items do Carrinho</h3>
            </div>

            <app-cartitem-list [showQuantity]="true" [showNote]="true">
            </app-cartitem-list>
          </div>
        </div>
      </div>
    </div>

    <div class="checkout-flex-02">
      <div class="checkout-resume card">
        <div class="checkout-resume-details">
          <p class="checkout-resume-title">RESUMO</p>
          <p>Subtotal: {{ cartService.cartSubtotal() | currency: "BRL" }}</p>
          <p>
            Total:
            <strong>{{ cartService.cartTotal() | currency: "BRL" }}</strong>
          </p>
        </div>
        <div class="checkout-resume-actions">
          @if (isLoading) {
            <button
              class="btn-primary"
              [disabled]="isLoading"
              type="button"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          } @else {
            <button
              class="btn-secondary"
              [disabled]="checkoutIsInvalid()"
              (click)="newOrder()"
            >
              FAZER PEDIDO
            </button>
          }
        </div>
      </div>
    </div>
  </div>
</main>
