.category {
  display: flex;
  width: 100%;
  height: 90px;
  border-radius: 8px;
  //overflow: clip;
  gap: 8px;
  align-items: center;
  cursor: pointer;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.isSelected {
  background-color: gray;
  cursor: pointer;
}


.image {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  aspect-ratio: 1/1;
  position: relative;
  width: 100%;
  max-width: 80px;
  display: flex;
  align-items: center;
  border-radius: 50%;


  img {
    display: block;
    vertical-align: middle;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
    border-radius: 100%;   
  }
}