<main>
  @if (isLoading) {
    <div class="payment-method-list-loading">
      <p>CARREGANDO FORMAS DE PAGAMENTO...</p>
    </div>
  } @else {
    <div class="payment-methods">
      @for (paymentMethod of paymentMethods; track paymentMethod) {
        <div class="payment-method card">
          <p>{{ paymentMethod.name }}</p>
          <input
            type="radio"
            name="selectedPaymentMethodRadio"
            [checked]="selectedId == paymentMethod.id"
            (change)="selectPaymentMethod(paymentMethod)"
          />
        </div>
      } @empty {
        <div class="payment-method-list-empty">
          <p>FORMAS DE PAGAMENTO "VAZIO"</p>
        </div>
      }
    </div>
  }
</main>
