
.product {
  display: flex;
  gap: 25px;
  padding: 16px;
}

.product-img {
  display: block;
  width: 45px;
  height: 45px;
  img {
    width: 100%;
  }
}

span{
  display: flex;
  flex: 1;
}

.product-desc {
  display: block;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.divider{
  width: 100%;
  border: 1px solid black;
}
