<main>
  <div class="form-container">
    <h1>Crie sua conta</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="firstName">Nome</label>
        <input
          id="firstName"
          formControlName="firstName"
          type="text"
          placeholder="Digite seu nome"
        />
        @if (firstName?.invalid && firstName?.touched) {
          <div class="error-message">
            @if (firstName?.errors?.["required"]) {
              <small>O nome é obrigatório.</small>
            }
            @if (firstName?.errors?.["minlength"]) {
              <small>O nome deve ter no mínimo 2 caracteres.</small>
            }
            @if (firstName?.errors?.["maxlength"]) {
              <small>O nome deve ter no máximo 25 caracteres.</small>
            }
          </div>
        }
      </div>

      <div class="input-group">
        <label for="lastName">Sobrenome</label>
        <input
          id="lastName"
          formControlName="lastName"
          type="text"
          placeholder="Digite seu sobrenome"
        />
        @if (lastName?.invalid && lastName?.touched) {
          <div class="error-message">
            @if (lastName?.errors?.["required"]) {
              <small>O sobrenome é obrigatório.</small>
            }
            @if (lastName?.errors?.["minlength"]) {
              <small>O sobrenome deve ter no mínimo 2 caracteres.</small>
            }
            @if (lastName?.errors?.["maxlength"]) {
              <small>O sobrenome deve ter no máximo 60 caracteres.</small>
            }
          </div>
        }
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          placeholder="Digite seu email"
        />
        @if (email?.invalid && email?.touched) {
          <div class="error-message">
            @if (email?.errors?.["required"]) {
              <small>O email é obrigatório.</small>
            }
            @if (email?.errors?.["email"]) {
              <small>O email deve ser válido.</small>
            }
          </div>
        }
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          placeholder="Digite sua senha"
        />
        @if (password?.touched && password?.errors) {
          <div class="error-message">
            @if (password?.errors?.["required"]) {
              <small>A senha é obrigatória.</small>
            }
            @if (password?.errors?.["minlength"]) {
              <small>A senha deve ter no mínimo 6 caracteres.</small>
            }
            @if (password?.errors?.["maxlength"]) {
              <small>A senha deve ter no máximo 16 caracteres.</small>
            }
          </div>
        }
      </div>

      <div class="input-group">
        <label for="confirmPassword">Confirme sua senha</label>
        <input
          id="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirme sua senha"
        />
        @if (confirmPassword?.touched && confirmPassword?.errors) {
          <div class="error-message">
            @if (confirmPassword?.errors?.["required"]) {
              <small>A confirmação da senha é obrigatória.</small>
            }
            @if (confirmPassword?.errors?.["mismatch"]) {
              <small>As senhas não coincidem.</small>
            }
          </div>
        }
      </div>
      <div>
        @if (isLoading) {
          <button
            class="btn btn-primary"
            [disabled]="isLoading"
            type="button"
            disabled
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        } @else {
          <button
            class="btn-primary"
            type="submit"
            [disabled]="signupForm.invalid"
          >
            Criar Conta
          </button>
        }
      </div>
    </form>
    <p>Já tem uma conta? <a [routerLink]="['/auth/signin']">Entrar</a></p>
  </div>
</main>
