:host {
  display: block;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  height: calc(100vh -  var(--height-navbar)); 
  width: 100%;
}

.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  padding: 16px;
  height: 100%;
  box-sizing: border-box;
}

.active-auth-wrapper {
  width: 80%;
}
