<main>

  <form [formGroup]="addressForm">

    <app-input-form formControlName="id" inputName="id" type="text" label="Address Id:" placeHolder="Address Id...">
      <img src="/assets/imgs/auth/auth-username-icon.svg">
    </app-input-form>

    <app-input-form formControlName="street" inputName="street" type="text" label="Street:" placeHolder="street...">
      <img src="/assets/imgs/auth/auth-password-icon.svg">
    </app-input-form>

    <app-input-form formControlName="number" inputName="number" type="number" label="Number:" placeHolder="number...">
      <img src="/assets/imgs/auth/auth-password-icon.svg">
    </app-input-form>

    <app-input-form formControlName="district" inputName="district" type="text" label="District:"
      placeHolder="district...">
      <img src="/assets/imgs/auth/auth-password-icon.svg">
    </app-input-form>

    <app-input-form formControlName="city" inputName="city" type="text" label="City:" placeHolder="city...">
      <img src="/assets/imgs/auth/auth-password-icon.svg">
    </app-input-form>

    <app-input-form formControlName="uf" inputName="uf" type="text" label="UF:" placeHolder="uf...">
      <img src="/assets/imgs/auth/auth-email-icon.svg">
    </app-input-form>

    <app-input-form formControlName="complement" inputName="complement" type="text" label="Complement:"
      placeHolder="complement...">
      <img src="/assets/imgs/auth/auth-password-icon.svg">
    </app-input-form>
    <app-input-form formControlName="zipCode" inputName="zipCode" type="text" label="ZipCode:" placeHolder="ZipCode">
      <img src="/assets/imgs/auth/auth-username-icon.svg">
    </app-input-form>

    <span>Salvar</span>
  </form>






</main>