main {
  width: 90%;
  margin: 24px auto;
  padding: 12px;
}

.container {
  display: flex;
  gap: 16px;
  padding: 12px;
}

.products-categories {
  width: 220px;
}

.store-products {
  flex: 1;
}


@media (max-width: 1024px) {

  main {
    width: 100%;
    margin: 0;
    padding: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }

  .products-categories {
    width: 100%;
  }
}