<nav>
  <span (click)="routerService.toHome()">Delivery App</span>

  <div class="spacer"></div>

  <div class="nav-links">
    <button (click)="routerService.toHome()">Home</button>
    @if( isAuthLoggedIn() ){
    <button (click)="routerService.toOrders()">Meus Pedidos</button>
    <div class="account-menu" [matMenuTriggerFor]="menu">      
      <mat-icon class="auth-icon">account_circle</mat-icon>
      <p class="auth-name"> {{ getAuthName() }}</p>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="routerService.toAccount()">Minha Conta</button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>

    } @else{
    <button (click)="routerService.toSignIn()">Entrar</button>
    <button (click)="routerService.toSignUp()">Criar uma conta</button>
    }
    <div class="cart-icon" (click)="routerService.toCart()">
      <mat-icon>shopping_cart</mat-icon>
      @if( getItemCount() ) {
      <span> {{ getItemCount() }} </span>
      }@else{
      <span> (vazio) </span>
      }

    </div>
    <div class="theme-icon" (click)="toggleTheme()">
      <mat-icon>{{icon}}</mat-icon>
    </div>
  </div>
</nav>