<nav class="navbar" [class.collapsed]="!isNavbarCollapsed">
  <span class="navbar-brand" (click)="routerService.toHome()">Delivery App</span>

  <div class="spacer"></div>

  <button class="navbar-toggler" (click)="toggleNavbar()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="nav-links" [class.collapse]="isNavbarCollapsed">
    <button class="nav-button" (click)="routerService.toHome()">Home</button>
    <button class="nav-button" (click)="routerService.toStores()">Lojas</button>
    @if(isAuthLoggedIn()) {
    <button class="nav-button" (click)="routerService.toOrders()">Meus Pedidos</button>
    <button class="btn-account-menu" mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon class="auth-icon">account_circle</mat-icon>
      <p class="auth-name"> {{ getAuthName() }}</p>
    </button>
    <mat-menu #accountMenu="matMenu">
      <div matMenuContent>
        <button mat-menu-item (click)="routerService.toAccount()">Minha Conta</button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sair</span>
        </button>
      </div>
    </mat-menu>
    } @else {
    <button class="nav-button" (click)="routerService.toSignIn()">Login</button>
    <button class="nav-button" (click)="routerService.toSignUp()">Criar Conta</button>
    }

    <div class="cart-count" (click)="routerService.toCart()">
      <mat-icon>shopping_cart</mat-icon>
      @if (cartService.getCartCount(); as count) {
      <span class="count">{{ count > 0 ? count : "" }}</span>
      }
    </div>

    <div class="theme-icon" (click)="toggleTheme()">
      <mat-icon>{{icon}}</mat-icon>
    </div>
  </div>
</nav>