nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  max-height: var(--heigth-navbar);

  span {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-button {
  font-weight: bold;
  font-size: 16px;
  width: 140px;
  height: 45px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.account-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn-account-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}



.auth-icon {
  color: black;
}


.auth-name {
  font-weight: 500;
  color: black;
}

.cart-count {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 12px;
}

.count {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 24px;
  font-weight: 500;
  line-height: 13px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  text-align: center;
  background-color: #f44336;
  border: 4px solid #f44336;
  color: white;
}

.theme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}