<main>
  <section class="main-section">
    @if(product){
    <section class="left-section">
      <div class="img-content">
        <img class="product-img" src={{product.imgUrl}}>
      </div>
    </section>
  
    <section class="right-section">
      <div class="details-container">
        <div class="details">
          <span class="name">{{product.name}}</span>
          <span class="price">R$ {{ product.price }}</span>
          <div class="desc-content">
            <span class="desc">{{ product.description }}</span>
          </div>        
        </div>
        <div class="btn-content">
          <button class="btn-add-cart" (click)="addToCart(product)">ADICIONAR AO CARRINHO</button>
        </div>
      </div>
  
    </section>
    }
  
  </section>
</main>

