<div class="address card">
  <div class="wrapper">
    <div class="details">
      <p>{{ address.name }} +55 {{ address.phoneNumber }}</p>
      <p>{{ address.street }} - {{ address.number }}</p>
      <p>{{ address.complement }}</p>
      <p>{{ address.district }}</p>
      <p>{{ address.city }} - {{ address.uf }} - {{ address.zipCode }}</p>
    </div>

    @if (isSelectable) {
      <div class="select">
        <input
          type="radio"
          name="selectedAddressRadio"
          [checked]="address.id === selectedId"
          (change)="onSelect()"
        />
      </div>
    }
  </div>

  <div class="actions">
    @if (isEditable) {
      <div class="edit">
        <button
          class="btn-secondary"
          (click)="this.modalService.open(appAddressEdit)"
        >
          Editar
        </button>
        <ng-template cdkPortal #appAddressEdit="cdkPortal">
          <app-modal (closeModalEvent)="this.modalService.close(modalOverlayRef)">
            <app-address-edit
              [address]="address"
              [isAddressNew]="false"
              [isAddressEdit]="true"
            >
            </app-address-edit>
          </app-modal>
        </ng-template>
      </div>
    }

    @if (isDeletable) {
      <div class="delete">
        <button class="btn-secondary" (click)="onDelete()">Excluir</button>
      </div>
    }
  </div>
</div>
