<main>
  @if (isLoading) {
    <div class="store-list-loading">
      <p>CARREGANDO LOJAS...</p>
    </div>
  } @else {
    <div>
      <app-search
        [placeHolder]="'Pesquisar Loja...'"
        (searchEvent)="searchByStoreName($event)"
      ></app-search>
    </div>

    <div class="stores">
      @for (store of stores; track store) {
        <app-storecard [store]="store" (selectedStoreEvent)="saveStoreInStorage($event)">
        </app-storecard>
      } @empty {
        <div class="store-list-empty">
          <p>LOJAS "VAZIO"</p>
        </div>
      }
    </div>
  }
</main>
