main {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.store-list-loading,
.store-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stores {
  display: flex;
}
