:host {
  position: absolute;
  display: flex;
  flex-direction: column;  
  gap: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-content {
  height: var(--navbar-height);
}

.main-content {
  display: block;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;  
}
