<mat-toolbar color="primary">
  <nav>

    <div class="nav-start">
      <span>Delivery App</span>
    </div>

    <div class="nav-links">
      <button (click)="navigateToHome()">Home</button>     

      @if(!isLoggedIn){
        <button (click)="navigateToSignIn()">Entrar</button>
        <button (click)="navigateToSignUp()">Criar uma conta</button>        
      } @else{        
        <div class="account-menu" [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
          <span> Olá - Ueviton </span>
        </div>        
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateToAccount()">Minha Conta</button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
        
      }

      <div class="cart-icon" (click)="navigateToCart()">
        <mat-icon>shopping_cart</mat-icon>    
        <span>(vazio)</span>    
      </div>
      <div class="theme-icon"  (click)="toggleTheme()">
        <mat-icon>{{icon}}</mat-icon>
      </div>



    </div>
  </nav>
</mat-toolbar>