<main>
  <div class="header">
    <div class="title">
      <p>Meus Endereços</p>
    </div>

    @if (isAddable) {
      <div class="addable">
        <button
          class="btn-primary"
          (click)="this.modalOverlayRef = this.modalService.open(appAddressNew)"
        >
          NOVO ENDEREÇO
        </button>
        <ng-template cdkPortal #appAddressNew="cdkPortal">
          <app-modal (closeModalEvent)="this.modalService.close(modalOverlayRef)">
            <app-address-new
              (addressFormSubmitedSuccessEvent)="onLoadAddresses()"
            >
            </app-address-new>
          </app-modal>
        </ng-template>
      </div>
    }
  </div>

  @if (isLoading) {
    <div class="address-list-loading">
      <p>CARREGANDO ENDEREÇOS...</p>
    </div>
  } @else {
    <div class="addresses">
      @for (address of addresses; track address) {
        <div>
          <select name="actions" id="">
            Actions
          </select>
        </div>
        <app-addresscard
          [address]="address"
          [isSelectable]="isSelectable"
          [isEditable]="isEditable"
          [isDeletable]="isDeletable"
          [isSelected]="isSelected"
          [selectedId]="selectedId"
          (selectedAddressEvent)="selectAddress($event)"
        >
        </app-addresscard>
      } @empty {
        <div class="address-list-empty">
          <p>"VOCÊ NÃO TEM ENDEREÇOS CADASTRADOS"</p>
        </div>
      }
    </div>
  }
</main>
