:host {
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: calc(100vh - var(--height-navbar));
    width: 100%;
}

.left,
.right {
    display: flex;
    //align-items: center;
    justify-content: center;
    //flex: 1;
    flex-grow: 1;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
}

.left-container,
.right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.payment-method-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: var(--padding);
}

.method-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.address-list {
    padding: 12px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.warn {
    background-color: yellow;
    color: red;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.checkout {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.sumary {
    font-size: large;
    padding: 25px;
    text-align: center;
    font-weight: bold;
}

.cart-items {
    display: flex;
    flex-direction: column;
    border-radius: 12px; 
}

.cartitem {
    display: flex;
    flex-direction: column;
}


.cartitem-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;;
}

.cartitem-left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.cartitem-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.divider {
    background-color: gray;
    border: 1px solid gray;
    width: 100%;
}