@if(!store){
  <main>
      Falha no módulo de gerenciamento de loja!
  </main>
}@else {
  <main>
   <h2>Gerenciar Loja</h2>
    <div class="store-header">
      <h3>Gerenciar Detalhes da Loja ({{store.name}})</h3>
    </div>

    <div class="orders-store">
      <h3>Gerenciar Pedidos da Loja ({{store.name}})</h3>
      <app-order-list-store [store]="store"></app-order-list-store>
    </div>


    <div class="products-store">
      <h3> Gerenciar Produtos da Loja ({{store.name}})</h3>
      <app-store-product-list-seller [store]="store"> </app-store-product-list-seller>

    </div>
  </main>
}


