<div class="checkout-container">
    <h2>Checkout do Pedido</h2>
    <div class="payment-method">
        <h3>Escolha o Método de Pagamento:</h3>

        <div class="select">
            <select name="format" id="format" required>
                <option selected disabled>FORMA DE PAGAMENTO</option>
                <option value="0">EM ESPÉCIE</option>
                <option value="txt">CARTÃO</option>
                <option value="epub">PIX</option>
            </select>
        </div>

    </div>
    @if(isLogged){
    <div class="addresses">
        <app-address-list [isSelectable]="true" (addressSelected)="onAddressSelected($event)">
        </app-address-list>
        @if(selectedAddress){
        <div>
            <h3>Endereço Selecionado:</h3>
            <p>{{ selectedAddress.street }}, {{ selectedAddress.number }} - {{ selectedAddress.district }}</p>
        </div>
        }
    </div>
    }

    <div class="actions">
        <button (click)="cancel()">Cancelar</button>
        <button (click)="confirm()">Confirmar Pedido</button>
    </div>
</div>