<form [formGroup]="signinForm">
  <app-input-form formControlName="username" inputName="username" type="email" label="Email:"
    placeHolder="email-example@gmail.com">
  </app-input-form>
  <app-input-form formControlName="password" inputName="password" type="password" label="Senha:"
    placeHolder="password...">
  </app-input-form>

  <p>Esqueceu sua Senha?</p>

  <div class="btn-wrapper">
    <button type="submit" [disabled]="!signinForm.valid" class="btn-primary" (click)="onSubmit()">ENTRAR</button> 
    <div class="divider"></div>
    <button class="btn-primary" (click)="routerService.toSignUp()">CRIAR CONTA</button> 
  </div>
</form>