<app-auth-layout
  appTitleText="DeliveryApp"
  secondaryTitleText="SignIn"
  primaryButtonText="SignIn"
  secondaryButtonText="SignUp"
  (teste)="teste()"
  (submit)="submit()"
  (navigate)="navigate()"
  [disableSubmitButton]="!signinForm.valid"
>
  <form [formGroup]="signinForm">
    <app-input-form 
        formControlName="email"
        inputName="email" 
        type="email" 
        label="Your Email:"       
        placeHolder="uevitondev@gmail.com"
        >
      <img src="/assets/imgs/auth/auth-email-icon.svg">
    </app-input-form>
    <app-input-form 
        formControlName="password"
        inputName="password" 
        type="password" 
        label="Your Password:" 
        placeHolder="password"    
      >
      <img src="/assets/imgs/auth/auth-password-icon.svg">
    </app-input-form>
    <span>Forgot password?</span>
  </form>
</app-auth-layout>