<main>
  <h1>{{ title }}</h1>

  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="input-group input-hidden">
      <label for="id">Id</label>
      <input id="id" formControlName="id" type="text" />
    </div>

    <div class="input-group">
      <label for="name">Nome</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        placeholder="Informe seu nome"
      />
      @if (name?.invalid && name?.touched) {
        <div class="error-message">
          @if (name?.errors?.["required"]) {
            <small>O campo nome é obrigatório.</small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="phoneNumber">Telefone</label>
      <input
        id="phoneNumber"
        formControlName="phoneNumber"
        type="tel"
        placeholder="Informe telefone para contato"
      />
      @if (phoneNumber?.invalid && phoneNumber?.touched) {
        <div class="error-message">
          @if (phoneNumber?.errors?.["required"]) {
            <small>O campo telefone é obrigatório.</small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="zipCode">CEP</label>
      <input
        id="zipCode"
        formControlName="zipCode"
        type="text"
        placeholder="Informe o CEP"
        mask="00000-000"
        maxlength="8"
      />
      @if (zipCode?.touched && zipCode?.errors) {
        <div class="error-message">
          @if (zipCode?.errors?.["required"]) {
            <small>O campo CEP é obrigatório.</small>
          }
          @if (zipCode?.errors?.["invalid"]) {
            <small>O CEP é inválido.</small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="street">Rua</label>
      <input
        id="street"
        formControlName="street"
        type="text"
        placeholder="Informe a rua"
      />
      @if (street?.invalid && street?.touched) {
        <div class="error-message">
          @if (street?.errors?.["required"]) {
            <small>O campo rua é obrigatório.</small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="number">N°</label>
      <input
        id="number"
        formControlName="number"
        type="number"
        placeholder="Informe o número"
      />
      @if (number?.touched && number?.errors) {
        <div class="error-message">
          @if (number?.errors?.["required"]) {
            <small>O campo número é obrigatório.</small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="district">Bairro</label>
      <input
        id="district"
        formControlName="district"
        type="text"
        placeholder="Informe o bairro"
      />
      @if (district?.touched && district?.errors) {
        <div class="error-message">
          @if (district?.errors?.["required"]) {
            <small>O campo bairro é obrigatório.</small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="complement">Complemento</label>
      <input
        id="complement"
        formControlName="complement"
        type="text"
        placeholder="Informe o complemento"
      />
      @if (complement?.touched && complement?.errors) {
        <div class="error-message">
          @if (complement?.errors?.["maxLength"]) {
            <small>O campo complemento não dexe exceder 60 caracteres.</small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="city">Cidade</label>
      <input
        id="city"
        formControlName="city"
        type="text"
        placeholder="Informe a cidade"
      />
      @if (city?.touched && city?.errors) {
        <div class="error-message">
          @if (city?.errors?.["required"]) {
            <small>O campo cidade é obrigatório.</small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="uf">UF</label>
      <input
        id="uf"
        formControlName="uf"
        type="text"
        placeholder="Informe a UF"
      />
      @if (uf?.touched && uf?.errors) {
        <div class="error-message">
          @if (uf?.errors?.["required"]) {
            <small>O campo UF cidade é obrigatório.</small>
          }
        </div>
      }
    </div>
    <button class="btn-primary" type="submit" [disabled]="addressForm.invalid">
      SALVAR
    </button>
  </form>
</main>
