
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.pages{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

button{
  border: none;
  cursor: pointer;
  padding: var(--padding);
}

.current-page{
  border: 1px solid red;
}


.page-size {
  display: flex;
}