
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.pages{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}


.current-page{
  border: 2px solid var(--primary);
}


.page-size {
  display: flex;
}