.category-list-loading,
.category-list-empty{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category {
  //flex: 1;
  display: flex;
  gap: 8px;
  color: var(--text-color);
  cursor: pointer;
}


@media (max-width: 1024px) {
  .categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .category {
    width: 140px;
  }
}