<main>
  @if(isLoading){
  <div class="category-list-loading">
    <p>CARREGANDO CATEGORIAS...</p>
  </div>
  }@else{
  <div class="categories">
    @for(category of categories; track category.id; let i = $index){
    <div class="category card">
      @if(isChecked) {
      <form [formGroup]="checkForm">
        <div formArrayName="checkboxes">
          <input type="checkbox" [formControlName]="i" (change)="onCheck(i)">
        </div>
      </form>
      }
      <p>{{category.name}}</p>
    </div>
    }@empty{
      <div class="category-list-loading">
        <p> "VAZIO" NÃO HÁ CATEGORIAS</p>
      </div>   
    }
  </div>
  }

</main>