main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
  min-height: 100%;
}

.left {
  flex: 1;
  padding: var(--padding);
}

.right {
  width: 450px;
  padding: var(--padding);
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 25px;
  border-radius: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.item-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}


.item-image {
  flex: 0 0 80px;
  margin-right: 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

.item-details {
  flex: 1;
  margin-right: 10px;
}

.item-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.item-price {
  font-size: 14px;
  color: #666;
}


.item-quantity {
  display: flex;
  align-items: center;
}

.quantity-button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #f0f0f0;
  background: white;
  border: none;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
  font-size: 16px;
}


.item-subtotal {
  font-size: 16px;
  margin-right: 10px;
}

.item-actions {
  flex: 0 0 24px;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-note {
  display: flex;
  justify-content: space-between;
}

.item-note button {
  background: white;
  border: none;
  padding: 0px 15px;
  cursor: pointer;
}

.cart-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 25px;
  border-radius: 8px;

  button {
    border: none;
    cursor: pointer;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}