<main>
  @if(cartService.cartItems()){
  @if(cartService.cartItems().length > 0){
  <div class="cart-flex-1">
    <div class="cart">
      <div class="cart-header">
        <p>CARRINHO DE COMPRAS</p>
        <div class="cart-header-actions">
          <button (click)="cartService.clearCart()">LIMPAR CARRINHO</button>
          <button (click)="routerService.toHome()">COMPRAR MAIS</button>
        </div>
      </div>

      <app-cartitem-list [showEditQuantity]="true" [showRemove]="true">
      </app-cartitem-list>

    </div>
  </div>

  <div class="cart-resume">
    <div class="resume">
      <div class="resume-details">
        <p class="resume-title">RESUMO</p>
        <p>Subtotal: {{ cartService.cartSubtotal() | currency : "BRL" }}</p>
        <p>Total: <strong>{{ cartService.cartTotal() | currency : "BRL" }}</strong></p>
      </div>
      <div class="resume-actions">
        <button (click)="routerService.toCheckout()">CONTINUAR</button>
      </div>
    </div>
  </div>
  }@else{
  <div class="cart-empty">
    <mat-icon class="cart-icon">shopping_cart</mat-icon>
    <span> "SEU CARRINHO ESTÁ VAZIO"</span>
    <div class="btn-container">
      <button (click)="routerService.toHome()">IR PARA PRODUTOS...</button>
    </div>
  </div>
  }
  }
</main>