:host{
  width: 100%;
  background-color: #fff;
}

main {
  padding: var(--padding);
}

.payment-method-list-loading,
.payment-method-list-empty {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--padding);
}

.payment-method {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}