@use '@angular/material' as mat;
@include mat.core();


$app-light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    ));

$app-dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
    ));

.dark-theme {
  @include mat.all-component-colors($app-dark-theme);
  background: mat.get-theme-color($app-dark-theme, surface);
}

@import 'ngx-toastr/toastr';

:root {
  --primary: #FBD148;
  --secondary: #FAFAFA;
  --tertiary: #232423;
  --box-shadow: 2px 2px gray;
  --padding: 8px;
  --border: 1px solid gray;
  --radius: 8px;
  --navbar-height: 60px;
}

.card{
  border: var(--border);
  border-radius: var(--radius);
  padding: var(--padding);
  box-shadow: var(--box-shadow);
  background-color: var(--primary);
  
}


.btn-primary {
  font-size: 13px;
  border-radius: 99px;
  padding: 4px 10px;
  border: var(--border);
  background-color: var(--primary);
  cursor: pointer;
}

.btn-secondary {
  font-size: 13px;
  border-radius: 99px;
  padding: 4px 10px;
  border: var(--border);
  background-color: var(--secondary);
  cursor: pointer;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}