@use '@angular/material' as mat;
@include mat.core();


$app-light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    ));

$app-dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
    ));

.dark-theme {
  @include mat.all-component-colors($app-dark-theme);
  background: mat.get-theme-color($app-dark-theme, surface);
}

@import 'ngx-toastr/toastr';

:root {
  --primary-color: #ebae34;
  --secondary-color: #FAFAFA;
  --tertiary-color: #232423;
  --accent-color: #FF5252;
  --font-size: 16px;
  --padding: 12px;
  --border-radius: 8px;
  --border: 1px solid gray;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --navbar-height: 60px;
}

* {
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

