:host {
  display: flex;
  flex-grow: 1;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.marketing-section{
  padding: 45px;
}

.main-section {
  display: flex;
  flex-wrap: wrap; 
  gap: 25px;
  padding: 15px;
}

.categories-container {
  flex-grow: 0.1;
}

.products-container {
  flex-grow: 1;
}