.marketing-section {
  background-color: rgb(238, 145, 6);
  padding: 8px;
}

.main-section {
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 8px;
  min-height: 100%;

  .categories-section {
    flex-grow: 0.1;
    padding: 8px;
    min-height: 100%;

    .categories {
      display: flex;
      flex-direction: column;
      width: 250px;
      gap: 10px;
      padding: 8px;

      border-radius: 8px;
      //border: 1px solid #000000;

      .category {
        background-color: rgb(255, 101, 0);
        width: 150px;
        padding: 8px;
        border-radius: 8px;      
        cursor: pointer;

        &:hover{
          background-color: rgb(226, 211, 0);
        }
      }
    }
  }

  .products-section {
    flex-grow: 1;
    padding: 10px;
    min-height: 100%;

    .products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;

      .card {
        width: 230px;
        background-color: white;
        border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #685d5d;

        .product {
          display: flex;
          flex-direction: column;   
          cursor: pointer;

          .img-container {
            position: relative;
            width: auto;
            height: 220px;
            border-radius: 8px 8px 0 0;

            img {
              border-radius: 8px 8px 0 0;
            }
          }

          .product-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 8px;

            .product-name {
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              font-weight: bold;
              font-size: 18px;
              border-radius: 8px;
            }

            .product-price {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              margin-bottom: 0.25rem;
              margin-top: 0.25rem;
              font-size: 1.25rem;
              line-height: 1.875rem;
              font-weight: 700;
              height: 1.25rem;
              text-decoration: none;
              color: rgb(255, 101, 0);
            }

            .product-desc {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        .btn-cont {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;
          margin-top: 20px;

          .btn-add-cart {
            font-size: 0.75rem;
            line-height: 1.125rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 8px;
            padding: 8px;
            cursor: pointer;
            background: rgb(255, 101, 0);
          }

        }

      }



    }
  }

}


@media screen and (max-width: 800px) {
  .main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
  }
}